:root {
  --color-primary: #145214;
  --color-primary-light: #196619;
}

.m0-5 {
  margin: 0.5rem;
}

.mv0-5 {
  margin: 0.5rem 0;
}

.mh0-5 {
  margin: 0 0.5rem;
}

.mt0-5 {
  margin-top: 0.5rem;
}

.mr0-5 {
  margin-right: 0.5rem;
}

.mb0-5 {
  margin-bottom: 0.5rem;
}

.ml0-5 {
  margin-left: 0.5rem;
}

.m1 {
  margin: 1rem;
}

.mv1 {
  margin: 1rem 0;
}

.mh1 {
  margin: 0 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.m2 {
  margin: 2rem;
}

.mv2 {
  margin: 2rem 0;
}

.mh2 {
  margin: 0 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.ml2 {
  margin-left: 2rem;
}

.p1 {
  padding: 1rem;
}

.pv1 {
  padding: 1rem 0;
}

.ph1 {
  padding: 0 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.p2 {
  padding: 2rem;
}

.pv2 {
  padding: 2rem 0;
}

.ph2 {
  padding: 0 2rem;
}

.pt2 {
  padding-top: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.font-s {
  font-size: 0.8rem;
}

.font-m {
  font-size: 1rem;
}

.font-l {
  font-size: 1.2rem;
}

.font-red {
  color: red;
}

.border-light {
  border: 1px solid #ccc;
}

.border-b-light {
  border-bottom: 1px solid #ccc;
}

.border-mid {
  border: 1px solid #888;
}

.border-b-mid {
  border-bottom: 1px solid #888;
}

.border-dark {
  border: 1px solid black;
}

.border-b-dark {
  border-bottom: 1px solid black;
}

.bg-light {
  background-color: #ccc;
}

.bg-dark {
  background-color: #888;
}

.btn {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  user-select: none;
  transition: all 0.1s;
}

.btn:hover {
  cursor: pointer;
}

.btn-large {
  height: 3rem;
  width: 6rem;
  border-radius: 1.5rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-primary-light);
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.grow {
  display: flex;
  flex-grow: 1;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.wfull {
  width: 100%;
}

/* override default styles */
input,
textarea {
  border: none;
  outline: none;
}
