@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center justify-center border-0 select-none transition-all duration-100 cursor-pointer;
  }
  .btn-primary {
    @apply bg-primary text-white;
  }
  .btn-lg {
    @apply text-lg p-6 rounded-[6rem];
  }
}

@layer utilities {
  .btn:hover {
    @apply brightness-[110%];
  }
  .btn:focus {
    @apply ring-2 ring-offset-2 ring-primary;
  }
  .btn:active {
    @apply scale-95;
  }
  .webkit-overflow-scrolling {
    -webkit-overflow-scrolling: touch;
  }
}

.dot-flashing,
.dot-flashing::after,
.dot-flashing::before {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  animation: dot-flashing 0.6s infinite linear alternate;
  background-color: rgba(136, 136, 136, 0.2);
}
.dot-flashing {
  position: relative;
  animation-delay: 0.3s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  position: absolute;
  animation: dot-flashing 0.6s infinite linear alternate;
}
.dot-flashing::before {
  left: -8px;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 8px;
  animation-delay: 0.6s;
}

@keyframes dot-flashing {
  0%, 50% {
    background-color: rgba(136, 136, 136, 0.2);
  }
  100% {
    background-color: #888888;
  }
}
